@charset "UTF-8";
body{
    position: relative;
    margin: 5px;
    height: 2000px;
    background-color: rgb(33,33,33) !important;
    z-index: 1;
}

#wrap{
    border: 0px dotted red;
    position: relative;
    width: 1200px;
    height: 2000px;
    margin: 0 auto;
    text-align: left;
    z-index: 1;
    background-color: rgb(44, 44, 44);
}

header {
    position: relative;
    height: 270px;
    margin-bottom: 10px;
}

header .head-line{
    position: absolute;
    height: 280px;
    width: 1200px;
    background-color: rgb(44, 44, 44);
    z-index: 2;
}

.date{
    position: absolute;
    width: 1200px;
    height: 100px;
    font-size: 85px;
    color: rgb(255, 119, 119);
    text-align: center;
    z-index: 3;
}

.time {
    position: absolute;
    width: 1200px;
    height: 100px;
    font-size: 60px;
    top: 113px;
    color: rgb(255, 227, 227);
    text-align: center;
    z-index: 3;
}

.date:hover, .time:hover {
    cursor: pointer;
}

header .gnb{
    position: absolute;
    white-space: nowrap;
    width:1200px;
    height: 70px;
    top: 210px;
    background-color: rgb(44, 44, 44);
    border-radius: 2px;
    border: 2px solid rgb(255, 154, 154);
    z-index: 3;
}



.direct_btn, .drop_btn {
    background-color: rgb(44, 44, 44);
    border: none;
    color: white;
    font-weight: bolder;
    height: 62px;
    margin-right: 10px;
    margin-left: 30px;
}

.switch-category, .mount-category, .housing-category, .plate-category, .keycaps-category{
    display: none;
    color: rgb(44,44,44);
    left: 40px;
    border: 2px solid rgb(255, 154, 154);
    border-top: none;
    border-radius: 2px;
    position: absolute;
    min-width: 100px;
    z-index: 3;
}

.mount-category {
    left: 22px;
}

.housing-category {
    left: 50px;
}

.plate-category{
    left: 51px;
}

.keycaps-category{
    left: 50px;
}

.switch-category a, .mount-category a, .housing-category a, .plate-category a, .keycaps-category a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: rgb(44,44,44);
    text-align: center;
}

.switch-category a:hover, .mount-category a:hover, .housing-category a:hover, .plate-category a:hover, .keycaps-category a:hover {
    color: white;
    background-color: rgb(22, 22, 22);
    text-decoration: underline;
    text-decoration-color: rgb(255, 154, 154);
    border-radius: 15px;
    transition: all 0.5s;
}

.switch:hover .switch-category, .mount:hover .mount-category, .housing:hover .housing-category, .plate:hover .plate-category, .keycaps:hover .keycaps-category {
    display: block;
}

.swtich:hover .drop_btn {
    background-color: #444444;
}


header .gnb ul{
    list-style: none;
    margin:0; padding: 0;
    zoom: 1;
}

header .gnb li{
    float: left;
    list-style: none;
    position: relative;
    white-space: nowrap;
    font-size: 20px;
    background: url(images/btn1.png) no-repeat center;
    height: 60px;
}

main{
    margin-top: 0;
    position: relative;
    z-index: 1;
    border: 1px solid rgb(82, 81, 81);
    padding-bottom: 20px;
    zoom: 1;
    width: 1200px;
    height: 2000px;
}

main .lnb {
    position: relative;
    width: 300px;
    height: 2000px;
    float: left;
    background-color: rgb(44, 44, 44);
}

main .lnb .wrapper{
    display: block;
    overflow:hidden;
}

main .lnb #container{
    background: #000000;
    padding: 0 !important;
}

main .lnb .msg{
    width: 200px;
    height: 130px;
    border-radius: 6px;
}

.separator {
    width: auto;
    height: 20px;
}

.block {
    display: block;
    width: 20px;
    height: 20px;
}

.nav-wrapper h2 {
    display: inline-block;
    color:rgb(255, 154, 154);
    border-bottom: 2px solid white;
    border-radius: 10px;
}

.nav-wrapper li {
    list-style: none;

}

.nav-wrapper a{
    margin: 20px;
    text-decoration: none;
    color:rgb(255, 154, 154);
    display: block;
    width: 280px;
    height: 50px;
    text-align: left;
}

.nav-wrapper a:hover {
    color:rgb(255, 154, 154);
    text-decoration: underline;
    text-decoration-color: white;
}


.msg img{
    margin: 5px; 
    width:120px; 
    height:120px; 
    float:left
}

.msg p {
    color: white;
    padding-left: 20px; 
    margin:4px; 
    width:300px; 
    height: auto;
}

.msg #middle{
    margin-top: 10px;
    
}

#middle a{
    width:300px; 
    height: 12px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: blue;
    text-decoration: none;
}

.partition{
    height: 10px;
}

#container a{
    text-decoration: none;
    color: blue;
    border-radius: 6px;
    height: 40px;
    width: 30px;
}

main .main-content{
    color: black;
    line-height: 1.5;
}

.content {
    float: left;
    border:2px solid rgb(221, 220, 220);
    width: 400px;
    height: 400px;
    margin: 10px;
}

main .main-content{
    color: black;
    line-height: 1.5;
    display: block;
    position: relative;
    width: 897px;
    height: 100%;
    float: right;
}

.main-content .main-container {
    display: block;
    height: 100%;
}

.main-header {
    width: 100%;
    height: auto;
}

.main-header .header-name {
    margin: 50px;
    margin-bottom: 25px;
    margin-left: 0;
}

.main-header h1 {
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.main-header h1 a {
    text-decoration: none;
    border-bottom: 12px solid #a88d8d; 
    border-radius: 12px;
    color:rgb(255, 255, 255);
    margin-left: 0;
    padding-left: 0;
}

.deco-div {
    display: inline-block;
    width: 301px;
    height: 10px;
    margin-bottom: 5px;
}

.main-content {
    border-left: 1px inset white;
    height: auto;
}

.blind {
    display:none;
}

#slider {
    width: 100%;
    position: relative;
}

.slider_item {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    position: absolute;
    top: 200px;
    z-index: 4;
}

.box {
    margin: 0 auto;
    border-radius: 30px 0 30px 0;
    width: 700px;
    height: 1000px;
    background-color: rgba(218, 218, 218, 0.808);
    box-shadow: 7px 7px 5px #777;
}

section{
    margin-left: 98px !important;
    margin:50px auto;
    position:relative;
    width: 400px;
    height: 1300px;
    perspective: 1000px;
}

section p {
    margin-bottom: 2px;
}

section img{
    width: 400px;
    height: 300px;
}

section a{
    text-decoration: none;
    color: red;
}

section .bigger{
    width: 500px;
    height: auto;
}

section span {
    color: red;
    margin-bottom: 25px;
}

section audio{
    width : 380px;
    height: 20px;
}

.page1 {
    position:absolute;
    width: 700px; height: 1500px;
    text-align: center;
    box-shadow: 15px 15px 15px rgb(0, 0, 0);
    border-radius: 15px;
}

.page2, .page3, .page4, .page5{
    position:absolute;
    width: 600px; height: 630px;
    display: none;
    text-align: center;
    box-shadow: 15px 15px 15px rgb(0, 0, 0);
    border-radius: 15px;
}

.page1{
  background: rgb(202, 202, 202);
  transform-origin: left center;
  transition: 1.5s;
  z-index:4;
}
.page2{
  background: #cba;
  transform-origin: left center;
  transition: 1.5s;   
  z-index: 5;
  height: 1040px;
  overflow: hidden;
}

.page3{
  background: rgb(173, 190, 154);
  transform-origin: left center;
  transition: 1.5s;   
  z-index: 4;
  height: 830px;
  overflow: hidden;
}

.page4{
  background: rgb(189, 209, 202);
  transform-origin: left center;
  transition: 1.5s;   
  z-index: 4;
  width: 600px;
  height: 720px;
  overflow: hidden;
}

.page5{
  background: rgb(207, 199, 191);
  transform-origin: left center;
  transition: 1.5s;   
  z-index: 4;
  height: 320px !important;
  overflow: hidden;
}

.content_style {
    margin-left: 27px;
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
}

.deco-div1 {
    height:20px;
    width: 1px;
}

.deco-div2 {
    height: 70px;
    width: 1px;
}

.deco-div3 {
    width: 260px;
    height:50px;
    float: left;
}

.nav2 {
    color:rgb(221, 220, 220);
    font-weight: bolder;
    font-size: 21px;
    margin-left: 30px;
    margin-top: 20px;
    float:left;
}

.page p{
    margin-left: 1px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.n_page1 {
  text-decoration: underline;
  text-decoration-color: rgb(255, 119, 119);
}

.n_page1:hover, .n_page2:hover, .n_page3:hover, .n_page4:hover, .n_page5:hover {
    text-decoration: underline;
    text-decoration-color:rgb(255, 119, 119);
    cursor: pointer;
}

.nav-wrapper ul {
    width: 300px;
    position: fixed;
    padding: 0;
    text-align: center;
}

.nav-wrapper li {
    background-color: rgb(5, 5, 5);
    margin-left: 46px;
    width: 70%;
    margin-bottom: 20px;
    border-radius: 5px;
    color:salmon;
}

.nav-wrapper li:hover {
    cursor: pointer;
    text-decoration: underline;
}